<launch>
  <arg name="world_name" default="maze"/>
  <arg name="vehicleHeight" default="0.75"/>
  <arg name="cameraOffsetZ" default="0"/>
  <arg name="vehicleX" default="-1"/>
  <arg name="vehicleY" default="-3"/>
  <arg name="terrainZ" default="0"/>
  <arg name="vehicleYaw" default="0"/>
  <arg name="gazebo_gui" default="false"/>
  <arg name="checkTerrainConn" default="false"/>
  
  <!-- DWA 局部规划器参数 -->
  <arg name="sensorOffsetX" default="0"/>
  <arg name="sensorOffsetY" default="0"/>
  <arg name="twoWayDrive" default="true"/>
  <arg name="maxSpeed" default="2.0"/>

  <!-- DWA 局部规划器节点 -->
  <node pkg="dwa_local_planner" type="dwa_local_planner_node" name="dwa_local_planner" output="screen" required="true">
    <rosparam command="load" file="$(find dwa_local_planner)/config/params.yaml" />
    
    <!-- 覆盖部分参数 -->
    <param name="sensor_offset_x" value="$(arg sensorOffsetX)" />
    <param name="sensor_offset_y" value="$(arg sensorOffsetY)" />
    <param name="two_way_drive" value="$(arg twoWayDrive)" />
    <param name="max_speed" value="$(arg maxSpeed)" />
  </node>

  <!-- 地形分析 -->
  <include file="$(find terrain_analysis)/launch/terrain_analysis.launch" />

  <!-- 扩展地形分析 -->
  <include file="$(find terrain_analysis_ext)/launch/terrain_analysis_ext.launch" >
    <arg name="checkTerrainConn" value="$(arg checkTerrainConn)"/>
  </include>

  <!-- 车辆仿真器 -->
  <include file="$(find vehicle_simulator)/launch/vehicle_simulator.launch" >
    <arg name="world_name" value="$(arg world_name)"/>
    <arg name="vehicleHeight" value="$(arg vehicleHeight)"/>
    <arg name="cameraOffsetZ" value="$(arg cameraOffsetZ)"/>
    <arg name="vehicleX" value="$(arg vehicleX)"/>
    <arg name="vehicleY" value="$(arg vehicleY)"/>
    <arg name="terrainZ" value="$(arg terrainZ)"/>
    <arg name="vehicleYaw" value="$(arg vehicleYaw)"/>
    <arg name="gui" value="$(arg gazebo_gui)"/>
  </include>

  <!-- A* 全局路径规划器 -->
  <include file="$(find global_path_planner)/launch/astar_interactive.launch" >
    <arg name="world_name" value="$(arg world_name)"/>
  </include>

  <!-- 可视化工具 -->
  <include file="$(find visualization_tools)/launch/visualization_tools.launch" />

  <!-- TF 变换发布 -->
  <node pkg="tf" type="static_transform_publisher" name="vehicleTransPublisher" 
        args="-$(arg sensorOffsetX) -$(arg sensorOffsetY) 0 0 0 0 /sensor /vehicle 1000"/>

  <node pkg="tf" type="static_transform_publisher" name="sensorTransPublisher" 
        args="0 0 $(arg cameraOffsetZ) -1.5707963 0 -1.5707963 /sensor /camera 1000"/>

  <!-- RViz 可视化 -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find navigation_start)/rviz/astar_global_plan.rviz"/>
  
</launch>









